tu-paraiso/workflows/TP-WF3-Confirmacion.json
{"updatedAt":"2026-03-24T00:25:23.173Z","createdAt":"2026-03-24T00:25:23.173Z","id":"Ozq5advj8vaXgOxf","name":"TP-WF3 Confirmación Roxana","description":null,"active":true,"isArchived":false,"nodes":[{"id":"tp3-webhook","name":"Webhook Confirmación","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"tp-confirmacion","options":{}},"webhookId":"e2909a61-81ec-441d-9641-9eafd7e6c149"},{"id":"tp3-load","name":"Cargar Turno Pendiente","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst data = $input.first().json;\nconst respuesta = (data.content || '').trim().toUpperCase();\n\n// Buscar turno pendiente — buscamos en todos los keys tp:pending:*\n// Por simplicidad buscamos el más reciente\nlet pending = null;\nlet clientChatId = null;\ntry {\n  const keys = await redis.keys('tp:pending:*');\n  if (keys.length > 0) {\n    // Tomar el más reciente por timestamp\n    let newest = null;\n    for (const k of keys) {\n      const val = await redis.get(k);\n      if (val) {\n        const p = JSON.parse(val);\n        if (!newest || p.timestamp > newest.timestamp) { newest = p; clientChatId = k.replace('tp:pending:', ''); }\n      }\n    }\n    pending = newest;\n  }\n} finally { await redis.quit(); }\n\nreturn [{ json: {\n  respuesta_roxana: respuesta,\n  es_si: respuesta === 'SI' || respuesta.startsWith('SI'),\n  es_no: respuesta === 'NO' || respuesta.startsWith('NO'),\n  pending,\n  client_chat_id: clientChatId,\n  instance: data.instance\n}}];"}},{"id":"tp3-if-valid","name":"¿SI o NO?","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,0],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"v1","leftValue":"={{ $json.es_si || $json.es_no }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"v2","leftValue":"={{ $json.pending }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"}}},{"id":"tp3-if-si","name":"¿Aprobado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,100],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"s1","leftValue":"={{ $json.es_si }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}},{"id":"tp3-create-event","name":"Crear Evento Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[960,0],"parameters":{"resource":"event","operation":"create","calendar":{"__rl":true,"value":"primary","mode":"list"},"start":"={{ $json.pending.appointment.fecha + 'T' + $json.pending.appointment.hora_inicio + ':00-03:00' }}","end":"={{\nconst start = new Date($json.pending.appointment.fecha + 'T' + $json.pending.appointment.hora_inicio + ':00-03:00');\nconst end = new Date(start.getTime() + $json.pending.appointment.duracion_min * 60000);\nend.toISOString()\n}}","additionalFields":{"summary":"={{ '💆 ' + $json.pending.appointment.servicio + ' - ' + $json.pending.appointment.nombre_cliente }}","description":"={{ 'Cliente: ' + $json.pending.appointment.nombre_cliente + '\\nServicio: ' + $json.pending.appointment.servicio + '\\nTel: ' + $json.client_chat_id }}","location":"Tu Paraíso - Centro de Estética"},"options":{}},"credentials":{"googleCalendarOAuth2Api":{"id":"cM2obf5j66Jo6yTJ","name":"Google Calendar ALFREDN8N"}}},{"id":"tp3-cleanup-si","name":"Limpiar Redis (Aprobado)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst chatId = $('Cargar Turno Pendiente').first().json.client_chat_id;\ntry {\n  await redis.del('tp:pending:' + chatId);\n  await redis.set('tp:state:' + chatId, JSON.stringify({ status: 'confirmed' }), 'EX', 86400);\n} finally { await redis.quit(); }\nreturn [{ json: $('Cargar Turno Pendiente').first().json }];"}},{"id":"tp3-msg-si","name":"Avisar Cliente - Confirmado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1440,0],"parameters":{"method":"POST","url":"=http://evolution-api:8080/message/sendText/{{ $json.pending.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.pending.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nconst a = $json.pending.appointment;\nJSON.stringify({\n  number: $json.client_chat_id.replace('@s.whatsapp.net','').replace('@c.us',''),\n  text: `✅ *¡Tu turno fue confirmado!*\\n\\n💆 Servicio: ${a.servicio}\\n📅 Fecha: ${a.fecha}\\n🕐 Hora: ${a.hora_inicio}\\n📍 Tu Paraíso - Centro de Estética\\n\\nTe esperamos. ¡Hasta pronto! 🌟`\n})\n}}","options":{}}},{"id":"tp3-cleanup-no","name":"Limpiar Redis (Rechazado)","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,200],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst chatId = $('Cargar Turno Pendiente').first().json.client_chat_id;\ntry {\n  await redis.del('tp:pending:' + chatId);\n  await redis.del('tp:state:' + chatId);\n} finally { await redis.quit(); }\nreturn [{ json: $('Cargar Turno Pendiente').first().json }];"}},{"id":"tp3-msg-no","name":"Avisar Cliente - Rechazado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,200],"parameters":{"method":"POST","url":"=http://evolution-api:8080/message/sendText/{{ $json.pending.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.pending.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nJSON.stringify({\n  number: $json.client_chat_id.replace('@s.whatsapp.net','').replace('@c.us',''),\n  text: `🗓️ Lamentablemente ese horario no está disponible.\\n\\nEscribíme nuevamente y te ayudo a encontrar otro turno. ¡Gracias por tu paciencia! 🙏`\n})\n}}","options":{}}},{"id":"tp3-noop-invalid","name":"Fin Sin Turno","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,-100],"parameters":{}}],"connections":{"Webhook Confirmación":{"main":[[{"node":"Cargar Turno Pendiente","type":"main","index":0}]]},"Cargar Turno Pendiente":{"main":[[{"node":"¿SI o NO?","type":"main","index":0}]]},"¿SI o NO?":{"main":[[{"node":"¿Aprobado?","type":"main","index":0}],[{"node":"Fin Sin Turno","type":"main","index":0}]]},"¿Aprobado?":{"main":[[{"node":"Crear Evento Calendar","type":"main","index":0}],[{"node":"Limpiar Redis (Rechazado)","type":"main","index":0}]]},"Crear Evento Calendar":{"main":[[{"node":"Limpiar Redis (Aprobado)","type":"main","index":0}]]},"Limpiar Redis (Aprobado)":{"main":[[{"node":"Avisar Cliente - Confirmado","type":"main","index":0}]]},"Limpiar Redis (Rechazado)":{"main":[[{"node":"Avisar Cliente - Rechazado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fcc202f4-e4d7-4ccd-810c-b7d8d34f7355","activeVersionId":"fcc202f4-e4d7-4ccd-810c-b7d8d34f7355","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-24T00:25:23.173Z","createdAt":"2026-03-24T00:25:23.173Z","role":"workflow:owner","workflowId":"Ozq5advj8vaXgOxf","projectId":"8CjwALfrA0Y0rYTC","project":{"updatedAt":"2026-02-19T18:14:18.722Z","createdAt":"2026-02-19T18:11:25.294Z","id":"8CjwALfrA0Y0rYTC","name":"Gabriel cabgab@gmail.com <cabgab@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8d9493db-1f57-4954-8a70-b5bdf95d7ffd"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-24T00:25:23.192Z","createdAt":"2026-03-24T00:25:23.192Z","versionId":"fcc202f4-e4d7-4ccd-810c-b7d8d34f7355","workflowId":"Ozq5advj8vaXgOxf","nodes":[{"id":"tp3-webhook","name":"Webhook Confirmación","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"tp-confirmacion","options":{}},"webhookId":"e2909a61-81ec-441d-9641-9eafd7e6c149"},{"id":"tp3-load","name":"Cargar Turno Pendiente","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst data = $input.first().json;\nconst respuesta = (data.content || '').trim().toUpperCase();\n\n// Buscar turno pendiente — buscamos en todos los keys tp:pending:*\n// Por simplicidad buscamos el más reciente\nlet pending = null;\nlet clientChatId = null;\ntry {\n  const keys = await redis.keys('tp:pending:*');\n  if (keys.length > 0) {\n    // Tomar el más reciente por timestamp\n    let newest = null;\n    for (const k of keys) {\n      const val = await redis.get(k);\n      if (val) {\n        const p = JSON.parse(val);\n        if (!newest || p.timestamp > newest.timestamp) { newest = p; clientChatId = k.replace('tp:pending:', ''); }\n      }\n    }\n    pending = newest;\n  }\n} finally { await redis.quit(); }\n\nreturn [{ json: {\n  respuesta_roxana: respuesta,\n  es_si: respuesta === 'SI' || respuesta.startsWith('SI'),\n  es_no: respuesta === 'NO' || respuesta.startsWith('NO'),\n  pending,\n  client_chat_id: clientChatId,\n  instance: data.instance\n}}];"}},{"id":"tp3-if-valid","name":"¿SI o NO?","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,0],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"v1","leftValue":"={{ $json.es_si || $json.es_no }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"v2","leftValue":"={{ $json.pending }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"}}},{"id":"tp3-if-si","name":"¿Aprobado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,100],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"s1","leftValue":"={{ $json.es_si }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}},{"id":"tp3-create-event","name":"Crear Evento Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[960,0],"parameters":{"resource":"event","operation":"create","calendar":{"__rl":true,"value":"primary","mode":"list"},"start":"={{ $json.pending.appointment.fecha + 'T' + $json.pending.appointment.hora_inicio + ':00-03:00' }}","end":"={{\nconst start = new Date($json.pending.appointment.fecha + 'T' + $json.pending.appointment.hora_inicio + ':00-03:00');\nconst end = new Date(start.getTime() + $json.pending.appointment.duracion_min * 60000);\nend.toISOString()\n}}","additionalFields":{"summary":"={{ '💆 ' + $json.pending.appointment.servicio + ' - ' + $json.pending.appointment.nombre_cliente }}","description":"={{ 'Cliente: ' + $json.pending.appointment.nombre_cliente + '\\nServicio: ' + $json.pending.appointment.servicio + '\\nTel: ' + $json.client_chat_id }}","location":"Tu Paraíso - Centro de Estética"},"options":{}},"credentials":{"googleCalendarOAuth2Api":{"id":"cM2obf5j66Jo6yTJ","name":"Google Calendar ALFREDN8N"}}},{"id":"tp3-cleanup-si","name":"Limpiar Redis (Aprobado)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst chatId = $('Cargar Turno Pendiente').first().json.client_chat_id;\ntry {\n  await redis.del('tp:pending:' + chatId);\n  await redis.set('tp:state:' + chatId, JSON.stringify({ status: 'confirmed' }), 'EX', 86400);\n} finally { await redis.quit(); }\nreturn [{ json: $('Cargar Turno Pendiente').first().json }];"}},{"id":"tp3-msg-si","name":"Avisar Cliente - Confirmado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1440,0],"parameters":{"method":"POST","url":"=http://evolution-api:8080/message/sendText/{{ $json.pending.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.pending.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nconst a = $json.pending.appointment;\nJSON.stringify({\n  number: $json.client_chat_id.replace('@s.whatsapp.net','').replace('@c.us',''),\n  text: `✅ *¡Tu turno fue confirmado!*\\n\\n💆 Servicio: ${a.servicio}\\n📅 Fecha: ${a.fecha}\\n🕐 Hora: ${a.hora_inicio}\\n📍 Tu Paraíso - Centro de Estética\\n\\nTe esperamos. ¡Hasta pronto! 🌟`\n})\n}}","options":{}}},{"id":"tp3-cleanup-no","name":"Limpiar Redis (Rechazado)","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,200],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst chatId = $('Cargar Turno Pendiente').first().json.client_chat_id;\ntry {\n  await redis.del('tp:pending:' + chatId);\n  await redis.del('tp:state:' + chatId);\n} finally { await redis.quit(); }\nreturn [{ json: $('Cargar Turno Pendiente').first().json }];"}},{"id":"tp3-msg-no","name":"Avisar Cliente - Rechazado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,200],"parameters":{"method":"POST","url":"=http://evolution-api:8080/message/sendText/{{ $json.pending.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.pending.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nJSON.stringify({\n  number: $json.client_chat_id.replace('@s.whatsapp.net','').replace('@c.us',''),\n  text: `🗓️ Lamentablemente ese horario no está disponible.\\n\\nEscribíme nuevamente y te ayudo a encontrar otro turno. ¡Gracias por tu paciencia! 🙏`\n})\n}}","options":{}}},{"id":"tp3-noop-invalid","name":"Fin Sin Turno","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,-100],"parameters":{}}],"connections":{"Webhook Confirmación":{"main":[[{"node":"Cargar Turno Pendiente","type":"main","index":0}]]},"Cargar Turno Pendiente":{"main":[[{"node":"¿SI o NO?","type":"main","index":0}]]},"¿SI o NO?":{"main":[[{"node":"¿Aprobado?","type":"main","index":0}],[{"node":"Fin Sin Turno","type":"main","index":0}]]},"¿Aprobado?":{"main":[[{"node":"Crear Evento Calendar","type":"main","index":0}],[{"node":"Limpiar Redis (Rechazado)","type":"main","index":0}]]},"Crear Evento Calendar":{"main":[[{"node":"Limpiar Redis (Aprobado)","type":"main","index":0}]]},"Limpiar Redis (Aprobado)":{"main":[[{"node":"Avisar Cliente - Confirmado","type":"main","index":0}]]},"Limpiar Redis (Rechazado)":{"main":[[{"node":"Avisar Cliente - Rechazado","type":"main","index":0}]]}},"authors":"Gabriel cabgab@gmail.com","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-24T00:32:05.540Z","id":445,"workflowId":"Ozq5advj8vaXgOxf","versionId":"fcc202f4-e4d7-4ccd-810c-b7d8d34f7355","event":"activated","userId":"8d9493db-1f57-4954-8a70-b5bdf95d7ffd"}]}}