tu-paraiso/workflows/TP-WF1-Gateway.json
{"updatedAt":"2026-03-24T00:14:34.727Z","createdAt":"2026-03-24T00:14:34.727Z","id":"RoZxWOIvXM6pke05","name":"TP-WF1 Gateway","description":null,"active":true,"isArchived":false,"nodes":[{"id":"tp-webhook","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"tu-paraiso-webhook","options":{}},"webhookId":"4045a090-09f8-485f-a075-592751a7b61d"},{"id":"tp-normalize","name":"Normalizar Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nconst messageType = data.messageType || 'unknown';\nconst isAudio = ['audioMessage','audio'].includes(messageType) || !!msg.audioMessage;\n\nlet content = '';\nif (!isAudio) {\n  content = msg.conversation || msg.extendedTextMessage?.text || '';\n}\n\nlet chatId = key.participant || key.remoteJid || '';\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    message_id: key.id || '',\n    message_type: messageType,\n    content,\n    is_audio: isAudio,\n    from_me: !!key.fromMe,\n    timestamp: Date.now(),\n    instance: {\n      nombre: body.instance || '',\n      apikey: body.apikey || '',\n      url: body.server_url || ''\n    }\n  }\n}];"}},{"id":"tp-filter","name":"Filtro Descartar","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,0],"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"f1","leftValue":"={{ $json.from_me }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"f2","leftValue":"={{ $json.message_type }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals"}},{"id":"f3","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"or"}}},{"id":"tp-is-roxana","name":"¿Es Roxana?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,100],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"r1","leftValue":"={{ $json.chat_id }}","rightValue":"1136922619","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}},{"id":"tp-buffer-push","name":"Buffer Push","type":"n8n-nodes-base.redis","typeVersion":1,"position":[960,200],"parameters":{"operation":"push","list":"=tp:buffer:{{ $json.chat_id }}","messageData":"={{ $json.content }}"},"credentials":{"redis":{"id":"TPsHPQ9HfSjGlLIq","name":"Redis_PH_local"}}},{"id":"tp-wait","name":"Wait 30s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,200],"parameters":{"amount":30,"unit":"seconds"}},{"id":"tp-check-lock","name":"Check Bloqueo","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1440,200],"parameters":{"operation":"get","key":"=tp:bloqueo:{{ $('Normalizar Mensaje').item.json.chat_id }}","options":{}},"credentials":{"redis":{"id":"TPsHPQ9HfSjGlLIq","name":"Redis_PH_local"}}},{"id":"tp-if-no-lock","name":"¿Sin Bloqueo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1680,200],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"l1","leftValue":"={{ $json.value }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"tp-drain-buffer","name":"Vaciar Buffer","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,200],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst chatId = $('Normalizar Mensaje').first().json.chat_id;\nconst key = 'tp:buffer:' + chatId;\nconst mensajes = [];\ntry {\n  const all = await redis.lrange(key, 0, -1);\n  if (all.length > 0) { await redis.del(key); mensajes.push(...all); }\n} finally { await redis.quit(); }\nconst msgOriginal = $('Normalizar Mensaje').first().json;\nreturn [{ json: {\n  chat_id: msgOriginal.chat_id,\n  instance: msgOriginal.instance,\n  texto_completo: mensajes.join(' ').trim(),\n  cantidad_mensajes: mensajes.length\n}}];"}},{"id":"tp-has-msgs","name":"¿Hay Mensajes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2160,200],"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"id":"m1","leftValue":"={{ $json.cantidad_mensajes }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"tp-call-agente","name":"Llamar Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2400,200],"parameters":{"method":"POST","url":"http://n8n:5678/webhook/tp-agente","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}}},{"id":"tp-call-confirm","name":"Llamar Confirmación","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[960,0],"parameters":{"method":"POST","url":"http://n8n:5678/webhook/tp-confirmacion","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}}},{"id":"tp-noop-discard","name":"Fin Descartado","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,-100],"parameters":{}},{"id":"tp-noop-lock","name":"Fin Bloqueado","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1920,0],"parameters":{}},{"id":"tp-noop-empty","name":"Fin Buffer Vacío","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2400,0],"parameters":{}}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Normalizar Mensaje","type":"main","index":0}]]},"Normalizar Mensaje":{"main":[[{"node":"Filtro Descartar","type":"main","index":0}]]},"Filtro Descartar":{"main":[[{"node":"Fin Descartado","type":"main","index":0}],[{"node":"¿Es Roxana?","type":"main","index":0}]]},"¿Es Roxana?":{"main":[[{"node":"Llamar Confirmación","type":"main","index":0}],[{"node":"Buffer Push","type":"main","index":0}]]},"Buffer Push":{"main":[[{"node":"Wait 30s","type":"main","index":0}]]},"Wait 30s":{"main":[[{"node":"Check Bloqueo","type":"main","index":0}]]},"Check Bloqueo":{"main":[[{"node":"¿Sin Bloqueo?","type":"main","index":0}]]},"¿Sin Bloqueo?":{"main":[[{"node":"Vaciar Buffer","type":"main","index":0}],[{"node":"Fin Bloqueado","type":"main","index":0}]]},"Vaciar Buffer":{"main":[[{"node":"¿Hay Mensajes?","type":"main","index":0}]]},"¿Hay Mensajes?":{"main":[[{"node":"Llamar Agente","type":"main","index":0}],[{"node":"Fin Buffer Vacío","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"dbe4faa0-8427-4907-a40b-81ff0cecaa6b","activeVersionId":"dbe4faa0-8427-4907-a40b-81ff0cecaa6b","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-24T00:14:34.727Z","createdAt":"2026-03-24T00:14:34.727Z","role":"workflow:owner","workflowId":"RoZxWOIvXM6pke05","projectId":"8CjwALfrA0Y0rYTC","project":{"updatedAt":"2026-02-19T18:14:18.722Z","createdAt":"2026-02-19T18:11:25.294Z","id":"8CjwALfrA0Y0rYTC","name":"Gabriel cabgab@gmail.com <cabgab@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8d9493db-1f57-4954-8a70-b5bdf95d7ffd"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-24T00:14:34.742Z","createdAt":"2026-03-24T00:14:34.742Z","versionId":"dbe4faa0-8427-4907-a40b-81ff0cecaa6b","workflowId":"RoZxWOIvXM6pke05","nodes":[{"id":"tp-webhook","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"tu-paraiso-webhook","options":{}},"webhookId":"4045a090-09f8-485f-a075-592751a7b61d"},{"id":"tp-normalize","name":"Normalizar Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nconst messageType = data.messageType || 'unknown';\nconst isAudio = ['audioMessage','audio'].includes(messageType) || !!msg.audioMessage;\n\nlet content = '';\nif (!isAudio) {\n  content = msg.conversation || msg.extendedTextMessage?.text || '';\n}\n\nlet chatId = key.participant || key.remoteJid || '';\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    message_id: key.id || '',\n    message_type: messageType,\n    content,\n    is_audio: isAudio,\n    from_me: !!key.fromMe,\n    timestamp: Date.now(),\n    instance: {\n      nombre: body.instance || '',\n      apikey: body.apikey || '',\n      url: body.server_url || ''\n    }\n  }\n}];"}},{"id":"tp-filter","name":"Filtro Descartar","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,0],"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"f1","leftValue":"={{ $json.from_me }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"f2","leftValue":"={{ $json.message_type }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals"}},{"id":"f3","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"or"}}},{"id":"tp-is-roxana","name":"¿Es Roxana?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,100],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"r1","leftValue":"={{ $json.chat_id }}","rightValue":"1136922619","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}},{"id":"tp-buffer-push","name":"Buffer Push","type":"n8n-nodes-base.redis","typeVersion":1,"position":[960,200],"parameters":{"operation":"push","list":"=tp:buffer:{{ $json.chat_id }}","messageData":"={{ $json.content }}"},"credentials":{"redis":{"id":"TPsHPQ9HfSjGlLIq","name":"Redis_PH_local"}}},{"id":"tp-wait","name":"Wait 30s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,200],"parameters":{"amount":30,"unit":"seconds"}},{"id":"tp-check-lock","name":"Check Bloqueo","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1440,200],"parameters":{"operation":"get","key":"=tp:bloqueo:{{ $('Normalizar Mensaje').item.json.chat_id }}","options":{}},"credentials":{"redis":{"id":"TPsHPQ9HfSjGlLIq","name":"Redis_PH_local"}}},{"id":"tp-if-no-lock","name":"¿Sin Bloqueo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1680,200],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"l1","leftValue":"={{ $json.value }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"tp-drain-buffer","name":"Vaciar Buffer","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,200],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst chatId = $('Normalizar Mensaje').first().json.chat_id;\nconst key = 'tp:buffer:' + chatId;\nconst mensajes = [];\ntry {\n  const all = await redis.lrange(key, 0, -1);\n  if (all.length > 0) { await redis.del(key); mensajes.push(...all); }\n} finally { await redis.quit(); }\nconst msgOriginal = $('Normalizar Mensaje').first().json;\nreturn [{ json: {\n  chat_id: msgOriginal.chat_id,\n  instance: msgOriginal.instance,\n  texto_completo: mensajes.join(' ').trim(),\n  cantidad_mensajes: mensajes.length\n}}];"}},{"id":"tp-has-msgs","name":"¿Hay Mensajes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2160,200],"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"id":"m1","leftValue":"={{ $json.cantidad_mensajes }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"tp-call-agente","name":"Llamar Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2400,200],"parameters":{"method":"POST","url":"http://n8n:5678/webhook/tp-agente","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}}},{"id":"tp-call-confirm","name":"Llamar Confirmación","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[960,0],"parameters":{"method":"POST","url":"http://n8n:5678/webhook/tp-confirmacion","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}}},{"id":"tp-noop-discard","name":"Fin Descartado","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,-100],"parameters":{}},{"id":"tp-noop-lock","name":"Fin Bloqueado","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1920,0],"parameters":{}},{"id":"tp-noop-empty","name":"Fin Buffer Vacío","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2400,0],"parameters":{}}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Normalizar Mensaje","type":"main","index":0}]]},"Normalizar Mensaje":{"main":[[{"node":"Filtro Descartar","type":"main","index":0}]]},"Filtro Descartar":{"main":[[{"node":"Fin Descartado","type":"main","index":0}],[{"node":"¿Es Roxana?","type":"main","index":0}]]},"¿Es Roxana?":{"main":[[{"node":"Llamar Confirmación","type":"main","index":0}],[{"node":"Buffer Push","type":"main","index":0}]]},"Buffer Push":{"main":[[{"node":"Wait 30s","type":"main","index":0}]]},"Wait 30s":{"main":[[{"node":"Check Bloqueo","type":"main","index":0}]]},"Check Bloqueo":{"main":[[{"node":"¿Sin Bloqueo?","type":"main","index":0}]]},"¿Sin Bloqueo?":{"main":[[{"node":"Vaciar Buffer","type":"main","index":0}],[{"node":"Fin Bloqueado","type":"main","index":0}]]},"Vaciar Buffer":{"main":[[{"node":"¿Hay Mensajes?","type":"main","index":0}]]},"¿Hay Mensajes?":{"main":[[{"node":"Llamar Agente","type":"main","index":0}],[{"node":"Fin Buffer Vacío","type":"main","index":0}]]}},"authors":"Gabriel cabgab@gmail.com","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-24T00:32:05.246Z","id":443,"workflowId":"RoZxWOIvXM6pke05","versionId":"dbe4faa0-8427-4907-a40b-81ff0cecaa6b","event":"activated","userId":"8d9493db-1f57-4954-8a70-b5bdf95d7ffd"}]}}