tu-paraiso/workflows/TP-WF2-Agente.json
{"updatedAt":"2026-03-24T00:24:46.001Z","createdAt":"2026-03-24T00:24:46.001Z","id":"feC3Sfq1ly3LWFd1","name":"TP-WF2 Agente","description":null,"active":true,"isArchived":false,"nodes":[{"id":"tp2-webhook","name":"Webhook Agente","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"tp-agente","options":{}},"webhookId":"89f708f2-56c7-4472-83ab-9c9a6985e6ae"},{"id":"tp2-load-state","name":"Cargar Historial","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst chatId = $input.first().json.chat_id;\nconst textoNuevo = $input.first().json.texto_completo;\nconst instance = $input.first().json.instance;\n\nlet history = [];\nlet state = {};\ntry {\n  const h = await redis.get('tp:history:' + chatId);\n  if (h) history = JSON.parse(h);\n  const s = await redis.get('tp:state:' + chatId);\n  if (s) state = JSON.parse(s);\n} finally { await redis.quit(); }\n\n// Agregar mensaje nuevo del cliente\nhistory.push({ role: 'user', content: textoNuevo });\n\n// Limitar historial a 20 mensajes\nif (history.length > 20) history = history.slice(-20);\n\nreturn [{ json: { chat_id: chatId, instance, history, state, texto_nuevo: textoNuevo } }];"}},{"id":"tp2-claude1","name":"Claude - Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[480,0],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $credentials.httpHeaderAuth.value }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nJSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1024,\n  system: `Sos el asistente virtual de Tu Paraíso, centro de estética de Roxana Cabrera.\nHablás en español argentino, informal pero profesional.\n\nSERVICIOS Y DURACIÓN:\n- Consulta Sin Cargo (evaluación previa): 15 min\n- Depilación Láser Soprano: 30 min + 15 min tolerancia\n- Masajes (Relajante, Modelador, Descontracturante, Wisloki): 60 min + 15 min tolerancia\n- Limpieza de Cutis Profunda: 120 min\n- Tratamientos Corporales (HIFU 25D MAX, Venus Legacy, Criolipólisis, Presoterapia, Maderoterapia): 120 min\n\nHORARIOS:\n- Lunes a Viernes: 9:00-12:00 y 14:00-20:00\n- Sábados: 14:00-18:00\n- Domingos: cerrado\n\nFLUJO:\n1. Saludar y preguntar nombre\n2. Preguntar qué servicio le interesa\n3. Mencionar que requiere Consulta Sin Cargo previa si es primera vez\n4. Preguntar qué día y horario prefiere\n5. Cuando tengas nombre + servicio + fecha preferida, respondé con action: check_availability\n6. Cuando el cliente confirme un turno específico, respondé con action: propose_appointment\n7. Explicar que el turno queda pendiente de confirmación de Roxana y que se le avisará\n\nSIEMPRE respondé con JSON válido:\n{\n  \"reply\": \"mensaje para el cliente\",\n  \"action\": \"none | check_availability | propose_appointment\",\n  \"check_date\": \"YYYY-MM-DD (solo si action=check_availability)\",\n  \"appointment\": {\n    \"nombre_cliente\": \"\",\n    \"servicio\": \"\",\n    \"fecha\": \"YYYY-MM-DD\",\n    \"hora_inicio\": \"HH:MM\",\n    \"duracion_min\": 0\n  }\n}\n\nEstado actual del cliente: ${JSON.stringify($json.state)}`,\n  messages: $json.history\n})\n}}","options":{}},"credentials":{"httpHeaderAuth":{"id":"jpHoyY3qGfdTKcu3","name":"Anthropic API Key (Header)"}}},{"id":"tp2-parse1","name":"Parsear Respuesta Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0],"parameters":{"jsCode":"const response = $input.first().json;\nconst rawText = response.content?.[0]?.text || '{}';\nlet parsed = {};\ntry {\n  // Extraer JSON aunque venga con texto extra\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { reply: rawText, action: 'none' };\n} catch(e) {\n  parsed = { reply: rawText, action: 'none' };\n}\nconst prev = $('Cargar Historial').first().json;\nreturn [{ json: {\n  ...prev,\n  reply: parsed.reply || '',\n  action: parsed.action || 'none',\n  check_date: parsed.check_date || '',\n  appointment: parsed.appointment || {}\n}}];"}},{"id":"tp2-if-avail","name":"¿Necesita Disponibilidad?","type":"n8n-nodes-base.if","typeVersion":2,"position":[960,0],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"a1","leftValue":"={{ $json.action }}","rightValue":"check_availability","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"tp2-calendar","name":"Google Calendar - Eventos del Día","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1200,-100],"parameters":{"resource":"event","operation":"getAll","calendar":{"__rl":true,"value":"primary","mode":"list"},"returnAll":true,"timeMin":"={{ new Date($json.check_date + 'T00:00:00-03:00').toISOString() }}","timeMax":"={{ new Date($json.check_date + 'T23:59:59-03:00').toISOString() }}","options":{"singleEvents":true}},"credentials":{"googleCalendarOAuth2Api":{"id":"cM2obf5j66Jo6yTJ","name":"Google Calendar ALFREDN8N"}}},{"id":"tp2-slots","name":"Calcular Slots Libres","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-100],"parameters":{"jsCode":"const events = $input.all().map(i => i.json);\nconst prev = $('Parsear Respuesta Claude').first().json;\nconst date = prev.check_date;\nconst duracion = prev.appointment?.duracion_min || 60;\n\n// Horarios del día\nconst dia = new Date(date + 'T12:00:00-03:00').getDay(); // 0=dom, 6=sab\nlet franjas = [];\nif (dia === 0) { // domingo\n  franjas = [];\n} else if (dia === 6) { // sabado\n  franjas = [{start: '14:00', end: '18:00'}];\n} else {\n  franjas = [{start: '09:00', end: '12:00'}, {start: '14:00', end: '20:00'}];\n}\n\n// Turnos ocupados\nconst ocupados = events\n  .filter(e => e.start?.dateTime)\n  .map(e => ({\n    inicio: new Date(e.start.dateTime),\n    fin: new Date(e.end.dateTime)\n  }));\n\n// Generar slots de duracion minutos en cada franja\nconst slots = [];\nfor (const franja of franjas) {\n  let cursor = new Date(date + 'T' + franja.start + ':00-03:00');\n  const franjaFin = new Date(date + 'T' + franja.end + ':00-03:00');\n  while (new Date(cursor.getTime() + duracion * 60000) <= franjaFin) {\n    const slotFin = new Date(cursor.getTime() + duracion * 60000);\n    const libre = !ocupados.some(o => cursor < o.fin && slotFin > o.inicio);\n    if (libre) slots.push(cursor.toLocaleTimeString('es-AR', {hour:'2-digit', minute:'2-digit', timeZone:'America/Argentina/Buenos_Aires'}));\n    cursor = new Date(cursor.getTime() + 30 * 60000); // avanzar 30 min\n  }\n}\n\nconst disponibilidad = slots.length > 0\n  ? `Horarios disponibles para el ${date}: ${slots.slice(0,6).join(', ')}`\n  : `No hay turnos disponibles para el ${date}.`;\n\nreturn [{ json: { ...prev, disponibilidad } }];"}},{"id":"tp2-claude2","name":"Claude - Con Disponibilidad","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1680,-100],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $credentials.httpHeaderAuth.value }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nconst prev = $json;\nconst histConDisp = [...prev.history, \n  { role: 'assistant', content: JSON.stringify({ reply: prev.reply, action: 'check_availability', check_date: prev.check_date }) },\n  { role: 'user', content: 'SISTEMA: ' + prev.disponibilidad + '. Ofrecé estos horarios al cliente de forma amigable y pedile que elija uno.' }\n];\nJSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 512,\n  system: 'Sos el asistente de Tu Paraíso. Respondé siempre con JSON: {\"reply\": \"...\", \"action\": \"none|propose_appointment\", \"appointment\": {...}}',\n  messages: histConDisp\n})\n}}","options":{}},"credentials":{"httpHeaderAuth":{"id":"jpHoyY3qGfdTKcu3","name":"Anthropic API Key (Header)"}}},{"id":"tp2-parse2","name":"Parsear Respuesta 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,-100],"parameters":{"jsCode":"const response = $input.first().json;\nconst rawText = response.content?.[0]?.text || '{}';\nlet parsed = {};\ntry {\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { reply: rawText, action: 'none' };\n} catch(e) { parsed = { reply: rawText, action: 'none' }; }\nconst prev = $('Calcular Slots Libres').first().json;\nreturn [{ json: { ...prev, reply: parsed.reply || '', action: parsed.action || 'none', appointment: parsed.appointment || prev.appointment } }];"}},{"id":"tp2-merge","name":"Merge Respuestas","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2160,0],"parameters":{"mode":"chooseBranch","output":"input1"}},{"id":"tp2-if-propose","name":"¿Proponer Turno?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2400,0],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"p1","leftValue":"={{ $json.action }}","rightValue":"propose_appointment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"tp2-store-pending","name":"Guardar Turno Pendiente","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,-100],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst data = $input.first().json;\nconst pending = {\n  chat_id: data.chat_id,\n  instance: data.instance,\n  appointment: data.appointment,\n  timestamp: Date.now()\n};\ntry {\n  await redis.set('tp:pending:' + data.chat_id, JSON.stringify(pending), 'EX', 86400);\n  await redis.set('tp:state:' + data.chat_id, JSON.stringify({ status: 'pending_approval', appointment: data.appointment }), 'EX', 86400);\n} finally { await redis.quit(); }\nreturn [{ json: { ...data, pending_stored: true } }];"}},{"id":"tp2-notify-roxana","name":"Notificar Roxana","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2880,-100],"parameters":{"method":"POST","url":"=http://evolution-api:8080/message/sendText/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nconst a = $json.appointment || {};\nJSON.stringify({\n  number: '5491136922619',\n  text: `🗓️ *Turno pendiente de confirmación*\\n\\n👤 Cliente: ${a.nombre_cliente || 'Sin nombre'}\\n💆 Servicio: ${a.servicio || ''}\\n📅 Fecha: ${a.fecha || ''}\\n🕐 Hora: ${a.hora_inicio || ''}\\n⏱️ Duración: ${a.duracion_min || ''} min\\n\\nRespondé *SI* para confirmar o *NO* para rechazar.`\n})\n}}","options":{}}},{"id":"tp2-save-history","name":"Guardar Historial","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,100],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst data = $input.first().json;\nconst history = [...(data.history || []), { role: 'assistant', content: data.reply }];\ntry {\n  await redis.set('tp:history:' + data.chat_id, JSON.stringify(history.slice(-20)), 'EX', 86400);\n} finally { await redis.quit(); }\nreturn [{ json: data }];"}},{"id":"tp2-send-wa","name":"Enviar WhatsApp Cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2880,100],"parameters":{"method":"POST","url":"=http://evolution-api:8080/message/sendText/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nJSON.stringify({\n  number: $json.chat_id.replace('@s.whatsapp.net','').replace('@c.us',''),\n  text: $json.reply\n})\n}}","options":{}}}],"connections":{"Webhook Agente":{"main":[[{"node":"Cargar Historial","type":"main","index":0}]]},"Cargar Historial":{"main":[[{"node":"Claude - Agente","type":"main","index":0}]]},"Claude - Agente":{"main":[[{"node":"Parsear Respuesta Claude","type":"main","index":0}]]},"Parsear Respuesta Claude":{"main":[[{"node":"¿Necesita Disponibilidad?","type":"main","index":0}]]},"¿Necesita Disponibilidad?":{"main":[[{"node":"Google Calendar - Eventos del Día","type":"main","index":0}],[{"node":"Merge Respuestas","type":"main","index":1}]]},"Google Calendar - Eventos del Día":{"main":[[{"node":"Calcular Slots Libres","type":"main","index":0}]]},"Calcular Slots Libres":{"main":[[{"node":"Claude - Con Disponibilidad","type":"main","index":0}]]},"Claude - Con Disponibilidad":{"main":[[{"node":"Parsear Respuesta 2","type":"main","index":0}]]},"Parsear Respuesta 2":{"main":[[{"node":"Merge Respuestas","type":"main","index":0}]]},"Merge Respuestas":{"main":[[{"node":"¿Proponer Turno?","type":"main","index":0}]]},"¿Proponer Turno?":{"main":[[{"node":"Guardar Turno Pendiente","type":"main","index":0}],[{"node":"Guardar Historial","type":"main","index":0}]]},"Guardar Turno Pendiente":{"main":[[{"node":"Notificar Roxana","type":"main","index":0}]]},"Notificar Roxana":{"main":[[{"node":"Guardar Historial","type":"main","index":0}]]},"Guardar Historial":{"main":[[{"node":"Enviar WhatsApp Cliente","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ca6852d2-f09f-4084-a96f-2146cae59eee","activeVersionId":"ca6852d2-f09f-4084-a96f-2146cae59eee","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-24T00:24:46.001Z","createdAt":"2026-03-24T00:24:46.001Z","role":"workflow:owner","workflowId":"feC3Sfq1ly3LWFd1","projectId":"8CjwALfrA0Y0rYTC","project":{"updatedAt":"2026-02-19T18:14:18.722Z","createdAt":"2026-02-19T18:11:25.294Z","id":"8CjwALfrA0Y0rYTC","name":"Gabriel cabgab@gmail.com <cabgab@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8d9493db-1f57-4954-8a70-b5bdf95d7ffd"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-24T00:24:46.010Z","createdAt":"2026-03-24T00:24:46.010Z","versionId":"ca6852d2-f09f-4084-a96f-2146cae59eee","workflowId":"feC3Sfq1ly3LWFd1","nodes":[{"id":"tp2-webhook","name":"Webhook Agente","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"tp-agente","options":{}},"webhookId":"89f708f2-56c7-4472-83ab-9c9a6985e6ae"},{"id":"tp2-load-state","name":"Cargar Historial","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst chatId = $input.first().json.chat_id;\nconst textoNuevo = $input.first().json.texto_completo;\nconst instance = $input.first().json.instance;\n\nlet history = [];\nlet state = {};\ntry {\n  const h = await redis.get('tp:history:' + chatId);\n  if (h) history = JSON.parse(h);\n  const s = await redis.get('tp:state:' + chatId);\n  if (s) state = JSON.parse(s);\n} finally { await redis.quit(); }\n\n// Agregar mensaje nuevo del cliente\nhistory.push({ role: 'user', content: textoNuevo });\n\n// Limitar historial a 20 mensajes\nif (history.length > 20) history = history.slice(-20);\n\nreturn [{ json: { chat_id: chatId, instance, history, state, texto_nuevo: textoNuevo } }];"}},{"id":"tp2-claude1","name":"Claude - Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[480,0],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $credentials.httpHeaderAuth.value }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nJSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1024,\n  system: `Sos el asistente virtual de Tu Paraíso, centro de estética de Roxana Cabrera.\nHablás en español argentino, informal pero profesional.\n\nSERVICIOS Y DURACIÓN:\n- Consulta Sin Cargo (evaluación previa): 15 min\n- Depilación Láser Soprano: 30 min + 15 min tolerancia\n- Masajes (Relajante, Modelador, Descontracturante, Wisloki): 60 min + 15 min tolerancia\n- Limpieza de Cutis Profunda: 120 min\n- Tratamientos Corporales (HIFU 25D MAX, Venus Legacy, Criolipólisis, Presoterapia, Maderoterapia): 120 min\n\nHORARIOS:\n- Lunes a Viernes: 9:00-12:00 y 14:00-20:00\n- Sábados: 14:00-18:00\n- Domingos: cerrado\n\nFLUJO:\n1. Saludar y preguntar nombre\n2. Preguntar qué servicio le interesa\n3. Mencionar que requiere Consulta Sin Cargo previa si es primera vez\n4. Preguntar qué día y horario prefiere\n5. Cuando tengas nombre + servicio + fecha preferida, respondé con action: check_availability\n6. Cuando el cliente confirme un turno específico, respondé con action: propose_appointment\n7. Explicar que el turno queda pendiente de confirmación de Roxana y que se le avisará\n\nSIEMPRE respondé con JSON válido:\n{\n  \"reply\": \"mensaje para el cliente\",\n  \"action\": \"none | check_availability | propose_appointment\",\n  \"check_date\": \"YYYY-MM-DD (solo si action=check_availability)\",\n  \"appointment\": {\n    \"nombre_cliente\": \"\",\n    \"servicio\": \"\",\n    \"fecha\": \"YYYY-MM-DD\",\n    \"hora_inicio\": \"HH:MM\",\n    \"duracion_min\": 0\n  }\n}\n\nEstado actual del cliente: ${JSON.stringify($json.state)}`,\n  messages: $json.history\n})\n}}","options":{}},"credentials":{"httpHeaderAuth":{"id":"jpHoyY3qGfdTKcu3","name":"Anthropic API Key (Header)"}}},{"id":"tp2-parse1","name":"Parsear Respuesta Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0],"parameters":{"jsCode":"const response = $input.first().json;\nconst rawText = response.content?.[0]?.text || '{}';\nlet parsed = {};\ntry {\n  // Extraer JSON aunque venga con texto extra\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { reply: rawText, action: 'none' };\n} catch(e) {\n  parsed = { reply: rawText, action: 'none' };\n}\nconst prev = $('Cargar Historial').first().json;\nreturn [{ json: {\n  ...prev,\n  reply: parsed.reply || '',\n  action: parsed.action || 'none',\n  check_date: parsed.check_date || '',\n  appointment: parsed.appointment || {}\n}}];"}},{"id":"tp2-if-avail","name":"¿Necesita Disponibilidad?","type":"n8n-nodes-base.if","typeVersion":2,"position":[960,0],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"a1","leftValue":"={{ $json.action }}","rightValue":"check_availability","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"tp2-calendar","name":"Google Calendar - Eventos del Día","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1200,-100],"parameters":{"resource":"event","operation":"getAll","calendar":{"__rl":true,"value":"primary","mode":"list"},"returnAll":true,"timeMin":"={{ new Date($json.check_date + 'T00:00:00-03:00').toISOString() }}","timeMax":"={{ new Date($json.check_date + 'T23:59:59-03:00').toISOString() }}","options":{"singleEvents":true}},"credentials":{"googleCalendarOAuth2Api":{"id":"cM2obf5j66Jo6yTJ","name":"Google Calendar ALFREDN8N"}}},{"id":"tp2-slots","name":"Calcular Slots Libres","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-100],"parameters":{"jsCode":"const events = $input.all().map(i => i.json);\nconst prev = $('Parsear Respuesta Claude').first().json;\nconst date = prev.check_date;\nconst duracion = prev.appointment?.duracion_min || 60;\n\n// Horarios del día\nconst dia = new Date(date + 'T12:00:00-03:00').getDay(); // 0=dom, 6=sab\nlet franjas = [];\nif (dia === 0) { // domingo\n  franjas = [];\n} else if (dia === 6) { // sabado\n  franjas = [{start: '14:00', end: '18:00'}];\n} else {\n  franjas = [{start: '09:00', end: '12:00'}, {start: '14:00', end: '20:00'}];\n}\n\n// Turnos ocupados\nconst ocupados = events\n  .filter(e => e.start?.dateTime)\n  .map(e => ({\n    inicio: new Date(e.start.dateTime),\n    fin: new Date(e.end.dateTime)\n  }));\n\n// Generar slots de duracion minutos en cada franja\nconst slots = [];\nfor (const franja of franjas) {\n  let cursor = new Date(date + 'T' + franja.start + ':00-03:00');\n  const franjaFin = new Date(date + 'T' + franja.end + ':00-03:00');\n  while (new Date(cursor.getTime() + duracion * 60000) <= franjaFin) {\n    const slotFin = new Date(cursor.getTime() + duracion * 60000);\n    const libre = !ocupados.some(o => cursor < o.fin && slotFin > o.inicio);\n    if (libre) slots.push(cursor.toLocaleTimeString('es-AR', {hour:'2-digit', minute:'2-digit', timeZone:'America/Argentina/Buenos_Aires'}));\n    cursor = new Date(cursor.getTime() + 30 * 60000); // avanzar 30 min\n  }\n}\n\nconst disponibilidad = slots.length > 0\n  ? `Horarios disponibles para el ${date}: ${slots.slice(0,6).join(', ')}`\n  : `No hay turnos disponibles para el ${date}.`;\n\nreturn [{ json: { ...prev, disponibilidad } }];"}},{"id":"tp2-claude2","name":"Claude - Con Disponibilidad","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1680,-100],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $credentials.httpHeaderAuth.value }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nconst prev = $json;\nconst histConDisp = [...prev.history, \n  { role: 'assistant', content: JSON.stringify({ reply: prev.reply, action: 'check_availability', check_date: prev.check_date }) },\n  { role: 'user', content: 'SISTEMA: ' + prev.disponibilidad + '. Ofrecé estos horarios al cliente de forma amigable y pedile que elija uno.' }\n];\nJSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 512,\n  system: 'Sos el asistente de Tu Paraíso. Respondé siempre con JSON: {\"reply\": \"...\", \"action\": \"none|propose_appointment\", \"appointment\": {...}}',\n  messages: histConDisp\n})\n}}","options":{}},"credentials":{"httpHeaderAuth":{"id":"jpHoyY3qGfdTKcu3","name":"Anthropic API Key (Header)"}}},{"id":"tp2-parse2","name":"Parsear Respuesta 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,-100],"parameters":{"jsCode":"const response = $input.first().json;\nconst rawText = response.content?.[0]?.text || '{}';\nlet parsed = {};\ntry {\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { reply: rawText, action: 'none' };\n} catch(e) { parsed = { reply: rawText, action: 'none' }; }\nconst prev = $('Calcular Slots Libres').first().json;\nreturn [{ json: { ...prev, reply: parsed.reply || '', action: parsed.action || 'none', appointment: parsed.appointment || prev.appointment } }];"}},{"id":"tp2-merge","name":"Merge Respuestas","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2160,0],"parameters":{"mode":"chooseBranch","output":"input1"}},{"id":"tp2-if-propose","name":"¿Proponer Turno?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2400,0],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"conditions":[{"id":"p1","leftValue":"={{ $json.action }}","rightValue":"propose_appointment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"tp2-store-pending","name":"Guardar Turno Pendiente","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,-100],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst data = $input.first().json;\nconst pending = {\n  chat_id: data.chat_id,\n  instance: data.instance,\n  appointment: data.appointment,\n  timestamp: Date.now()\n};\ntry {\n  await redis.set('tp:pending:' + data.chat_id, JSON.stringify(pending), 'EX', 86400);\n  await redis.set('tp:state:' + data.chat_id, JSON.stringify({ status: 'pending_approval', appointment: data.appointment }), 'EX', 86400);\n} finally { await redis.quit(); }\nreturn [{ json: { ...data, pending_stored: true } }];"}},{"id":"tp2-notify-roxana","name":"Notificar Roxana","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2880,-100],"parameters":{"method":"POST","url":"=http://evolution-api:8080/message/sendText/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nconst a = $json.appointment || {};\nJSON.stringify({\n  number: '5491136922619',\n  text: `🗓️ *Turno pendiente de confirmación*\\n\\n👤 Cliente: ${a.nombre_cliente || 'Sin nombre'}\\n💆 Servicio: ${a.servicio || ''}\\n📅 Fecha: ${a.fecha || ''}\\n🕐 Hora: ${a.hora_inicio || ''}\\n⏱️ Duración: ${a.duracion_min || ''} min\\n\\nRespondé *SI* para confirmar o *NO* para rechazar.`\n})\n}}","options":{}}},{"id":"tp2-save-history","name":"Guardar Historial","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,100],"parameters":{"jsCode":"const Redis = require('ioredis');\nconst redis = new Redis({ host: 'redis', port: 6379 });\nconst data = $input.first().json;\nconst history = [...(data.history || []), { role: 'assistant', content: data.reply }];\ntry {\n  await redis.set('tp:history:' + data.chat_id, JSON.stringify(history.slice(-20)), 'EX', 86400);\n} finally { await redis.quit(); }\nreturn [{ json: data }];"}},{"id":"tp2-send-wa","name":"Enviar WhatsApp Cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2880,100],"parameters":{"method":"POST","url":"=http://evolution-api:8080/message/sendText/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\nJSON.stringify({\n  number: $json.chat_id.replace('@s.whatsapp.net','').replace('@c.us',''),\n  text: $json.reply\n})\n}}","options":{}}}],"connections":{"Webhook Agente":{"main":[[{"node":"Cargar Historial","type":"main","index":0}]]},"Cargar Historial":{"main":[[{"node":"Claude - Agente","type":"main","index":0}]]},"Claude - Agente":{"main":[[{"node":"Parsear Respuesta Claude","type":"main","index":0}]]},"Parsear Respuesta Claude":{"main":[[{"node":"¿Necesita Disponibilidad?","type":"main","index":0}]]},"¿Necesita Disponibilidad?":{"main":[[{"node":"Google Calendar - Eventos del Día","type":"main","index":0}],[{"node":"Merge Respuestas","type":"main","index":1}]]},"Google Calendar - Eventos del Día":{"main":[[{"node":"Calcular Slots Libres","type":"main","index":0}]]},"Calcular Slots Libres":{"main":[[{"node":"Claude - Con Disponibilidad","type":"main","index":0}]]},"Claude - Con Disponibilidad":{"main":[[{"node":"Parsear Respuesta 2","type":"main","index":0}]]},"Parsear Respuesta 2":{"main":[[{"node":"Merge Respuestas","type":"main","index":0}]]},"Merge Respuestas":{"main":[[{"node":"¿Proponer Turno?","type":"main","index":0}]]},"¿Proponer Turno?":{"main":[[{"node":"Guardar Turno Pendiente","type":"main","index":0}],[{"node":"Guardar Historial","type":"main","index":0}]]},"Guardar Turno Pendiente":{"main":[[{"node":"Notificar Roxana","type":"main","index":0}]]},"Notificar Roxana":{"main":[[{"node":"Guardar Historial","type":"main","index":0}]]},"Guardar Historial":{"main":[[{"node":"Enviar WhatsApp Cliente","type":"main","index":0}]]}},"authors":"Gabriel cabgab@gmail.com","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-24T00:32:05.398Z","id":444,"workflowId":"feC3Sfq1ly3LWFd1","versionId":"ca6852d2-f09f-4084-a96f-2146cae59eee","event":"activated","userId":"8d9493db-1f57-4954-8a70-b5bdf95d7ffd"}]}}